.btn {
  padding: 1rem var(--gutter-elem);
  border-radius: 20px;
  border: none;
  font-size: 2rem;
  color: rgba(51, 51, 51, 0.808);
  background-color: white;
  text-transform: uppercase;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.98);
  }
}
