html {
  font-size: 62.5%;

  @include media(mobile-landscape) {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #333;
  width: 100vw;
  background-image: linear-gradient(
    to bottom right,
    rgb(124, 80, 182) 0%,
    #2e30bf 100%
  );
}

main {
  padding: 1rem;

  @include media(mobile-landscape, height-small) {
    padding: 0;
  }

  height: 100vh;
}

img {
  width: 100%;
  display: inline-block;
  object-fit: contain;
}
