html {
  font-size: 62.5%;

  @include media(mobile-landscape) {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #333;
  //   background-image: linear-gradient(to bottom right, #d74bf3 0%, #2e30bf 100%);
  background-color: rgb(124, 80, 182);
}

img {
  width: 100%;
  display: inline-block;
  object-fit: contain;
}
