.game {
  margin: auto;
  width: 1200px;
  max-width: 90vw;
  min-height: 600px;

  display: grid;
  grid-template-columns:
    [player-1-start] 1fr [btn-start] minmax(max-content, 0.3fr)
    [player-1-end player-2-start] minmax(max-content, 0.3fr)
    [btn-end] 1fr [player-2-end];
  grid-template-rows: 0.2fr repeat(4, minmax(max-content, 1fr)) 0.2fr;

  justify-items: center;
  align-items: center;
  padding: 5rem;

  &__btn--new {
    align-self: start;
    grid-column: btn;
    grid-row: 2 / span 1;
  }

  &__dice {
    visibility: hidden;
    width: 10rem;
    grid-column: btn;
    grid-row: 3 / span 1;

    &--active {
      visibility: visible;
    }
  }

  &__btn--roll {
    grid-column: btn;
    grid-row: 4 / span 1;
    align-self: end;
    margin-bottom: 1rem;
  }
  &__btn--hold {
    grid-column: btn;
    grid-row: 5 / span 1;
    align-self: start;
    margin-top: 1rem;
  }

  &__player-1-bg {
    grid-row: 1 / -1;
    grid-column: player-1;
    background: #f7f7f781;
    align-self: stretch;
    justify-self: stretch;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 0.5s;
  }
  &__player-2-bg {
    align-self: stretch;
    justify-self: stretch;
    grid-row: 1 / -1;
    grid-column: player-2;
    background: #f7f7f781;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.5s;
  }

  &--active {
    background: #f7f7f7d2;
  }

  &__player-1 {
    grid-column: player-1;
    grid-row: 2 / span 2;
  }
  &__player-2 {
    grid-column: player-2;
    grid-row: 2 / span 2;
  }

  &__player-1-accumulated {
    grid-column: player-1;
    grid-row: 4 / span 2;
  }
  &__player-2-accumulated {
    grid-column: player-2;
    grid-row: 4 / span 2;
  }

  @media (max-width: 1000px) {
    padding: 4rem 1rem;
    grid-template-columns: 1rem repeat(3, minmax(min-content, 1fr)) 1rem;
    grid-template-rows: 4rem repeat(7, minmax(max-content, 0.5fr)) 4rem;
    // grid-template-rows: 0.5fr [player-1-start] 1fr [player-1-end] [player-2-start] 1fr [player-2-end] 0.5fr;
    grid-template-areas:
      ". btn1 btn1 btn1 ."
      ". . . . ."
      ". player-1 player-1 player-1 ."
      ". player-1-acc player-1-acc player-1-acc ."
      ". btn2 dice btn3 ."
      ". btn2 dice btn3 ."
      ". player-2-acc player-2-acc player-2-acc ."
      ". player-2 player-2 player-2 ."
      ". . . . .";
    justify-items: center;
    align-items: center;

    &__btn--new {
      align-self: center;
      grid-area: btn1;
      margin-bottom: 4rem;
    }

    &__dice {
      grid-area: dice;
      width: 7rem;
      margin: 0 1rem;
    }

    &__btn--roll {
      grid-area: btn2;
      margin: 0;
      align-self: center;
    }

    &__btn--hold {
      margin: 0;
      grid-area: btn3;
      align-self: center;
    }

    &__player-1-bg {
      grid-row: 2 / 6;
      grid-column: 1 / -1;
      border-radius: 0;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }
    &__player-2-bg {
      grid-row: 6 / -1;
      grid-column: 1 / -1;
      border-radius: 0;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
    }

    &__player-1 {
      grid-area: player-1;
    }

    &__player-2 {
      grid-area: player-2;
    }

    &__player-1-accumulated {
      grid-area: player-1-acc;
      margin-bottom: 6rem;
    }

    &__player-2-accumulated {
      grid-area: player-2-acc;
      margin-top: 6rem;
    }
  }
}

// typography

h2 {
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  font-size: 2rem;
}

img {
  width: 100%;
  display: inline-block;
  object-fit: contain;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__score {
    font-size: 8rem;
    color: rgba(187, 10, 99, 0.815);
    margin-bottom: 0;
    margin-top: 2rem;
  }

  @media (max-width: 1000px) {
    padding: 2rem;

    &__score {
      margin: 0;
      margin-top: 2rem;
      line-height: 1;
      display: flex;
      align-items: center;
    }

    &--2 {
      .player__score {
        order: -1;
        margin-bottom: 2rem;
      }
    }
  }
}

.accumulated {
  padding: 3rem 5rem;
  background: rgba(223, 59, 141, 0.815);
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__current {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  &__score {
    font-size: 3rem;
  }

  @media (max-width: 1000px) {
    padding: 1.5rem 3rem;

    &--2 {
      .accumulated__current {
        margin: 0;
        margin-top: 2rem;
        order: 2;
      }
    }
  }
}

.btn {
  padding: 1rem 3rem;
  border-radius: 20px;
  border: none;
  font-size: 2rem;
  color: rgba(51, 51, 51, 0.808);
  text-transform: uppercase;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.98);
  }
}
