.game {
  padding: 2rem 0;
  margin: auto;
  width: 1200px;
  max-width: 95%;

  display: grid;
  grid-template-columns:
    [player-1-start] 1fr [btn-start] minmax(max-content, 0.3fr)
    [player-1-end player-2-start] minmax(max-content, 0.3fr)
    [btn-end] 1fr [player-2-end];
  grid-template-rows: 0.6fr repeat(4, minmax(max-content, 1fr)) 0.2fr;

  justify-items: center;
  align-items: center;

  &__btn--new {
    align-self: start;
    grid-column: btn;
    grid-row: 2 / span 1;
    margin: 0rem 2rem;
  }

  &__dice {
    visibility: hidden;
    width: 10rem;
    grid-column: btn;
    grid-row: 3 / span 1;

    &--active {
      visibility: visible;
    }
  }

  &__btn--roll {
    grid-column: btn;
    grid-row: 4 / span 1;
    align-self: end;
    margin: 0rem 2rem 1rem;
  }
  &__btn--hold {
    grid-column: btn;
    grid-row: 5 / span 1;
    align-self: start;
    margin: 0rem 2rem 1rem;
  }

  &__player-1-bg {
    grid-row: 1 / -1;
    grid-column: player-1;
    background: #f7f7f781;
    align-self: stretch;
    justify-self: stretch;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 0.5s;
  }
  &__player-2-bg {
    align-self: stretch;
    justify-self: stretch;
    grid-row: 1 / -1;
    grid-column: player-2;
    background: #f7f7f781;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.5s;
  }

  &--active {
    background: #f7f7f7d2;
  }

  &__player-1 {
    grid-column: player-1;
    grid-row: 2 / span 2;
  }
  &__player-2 {
    grid-column: player-2;
    grid-row: 2 / span 2;
  }

  &__player-1-accumulated {
    grid-column: player-1;
    grid-row: 4 / span 2;
  }
  &__player-2-accumulated {
    grid-column: player-2;
    grid-row: 4 / span 2;
  }

  @include media(mobile-landscape, height-small) {
    max-width: 95%;
    padding: 2rem 0;
    grid-template-rows: 0.2fr repeat(4, minmax(max-content, 0.6fr)) 0.2fr;

    &__btn--new {
      align-self: center;
      margin: 1rem 2rem;
    }

    &__btn--roll {
      margin: 1rem 2rem;
    }
  }

  @include media(mobile) {
    grid-template-columns: 1rem repeat(3, minmax(min-content, 1fr)) 1rem;
    grid-template-rows:
      min-content
      var(--gutter-elem)
      repeat(6, max-content)
      var(--gutter-elem);
    grid-template-areas:
      ". btn1 btn1 btn1 ."
      ". . . . ."
      ". player-1 player-1 player-1 ."
      ". player-1-acc player-1-acc player-1-acc ."
      ". btn2 dice btn3 ."
      ". btn2 dice btn3 ."
      ". player-2-acc player-2-acc player-2-acc ."
      ". player-2 player-2 player-2 ."
      ". . . . .";
    justify-items: center;
    align-items: center;

    &__btn--new {
      align-self: center;
      grid-area: btn1;
      margin-bottom: 2rem;
    }

    &__dice {
      grid-area: dice;
      width: 7rem;
      margin: 0 1rem;
    }

    &__btn--roll {
      grid-area: btn2;
      margin: 0;
      align-self: center;
    }

    &__btn--hold {
      margin: 0;
      grid-area: btn3;
      align-self: center;
    }

    &__player-1-bg {
      grid-row: 2 / 6;
      grid-column: 1 / -1;
      border-radius: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    &__player-2-bg {
      grid-row: 6 / -1;
      grid-column: 1 / -1;
      border-radius: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &__player-1 {
      grid-area: player-1;
    }

    &__player-2 {
      grid-area: player-2;
    }

    &__player-1-accumulated {
      grid-area: player-1-acc;
      margin: var(--gutter-elem) 0;
    }

    &__player-2-accumulated {
      grid-area: player-2-acc;
      margin: var(--gutter-elem) 0;
    }
  }
}
