.container {
  display: flex;
  border: 40px rgb(32, 32, 32) solid;
  border-radius: 100px;
  height: 100%;
  width: 100%;
  overflow-y: auto;

  @include media(mobile-landscape, height-small) {
    border: none;
    border-radius: 0;
  }
}
